[Unit]
Description=Tado individual away control
After=syslog.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 {INSTALL_DIR}/start.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target